/* Typography */

body {
    font-family: Yu Gothic, sans serif;
}

/* Navigation */

.logo-icon {
    width: 4rem;
    height: 4rem;
    margin: -0.3rem;
}

.main-nav .logo h3 {
    font-weight: 500;
    font-size: 1.9rem !important;
}

.main-nav.expanded .nav-row {
    font-weight: 500;
    font-size: 1.3rem !important;
}

.main-nav .btn-signup {
    letter-spacing: -0.3em;
    padding-left: 0.4em;
}
