/* Breakpoints

sm: @media (min-width: 36em)
md: @media (min-width: 48em)
lg: @media (min-width: 62em)
xl: @media (min-width: 75em)

They are consistent to bootstrap at 16px font size.

*/

/* Variables */

:root {
  --color-accent: hsl(223, 25%, 22%);
  --color-accent-hover: hsl(223, 25%, 30%);
  --color-accent-text: white;
  --color-pandanet-trial: rgb(140, 19, 174);
  --header-height: 4rem;
  --nav-width-small: 5rem;
  --nav-width-large: 16rem;
}

/* Layout utils */

.my-wrapper {
  padding: 0 0 1rem;
}

.my-container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

/* Buttons */

.my-btn {
  background-color: var(--color-accent);
  border: none;
  color: var(--color-accent-text);
  border-radius: .25rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
}

.my-btn:hover {
  background-color: var(--color-accent-hover);
}

/* Boxes */

.box-primary {
  padding: 15px;
  background-color: hsl(220, 100%, 88%);
}

.box-highlight {
  padding: 15px;
  background-color: hsl(250, 100%, 88%);
}

.box-warning {
  padding: 15px;
  background-color: hsl(14, 100%, 88%);
}

.box-danger {
  padding: 15px;
  background-color: hsl(0, 100%, 88%);
}

/* Highlight badges */

[data-highlight] {
  position: relative;
}

[data-highlight]::after {
  content: attr(data-highlight);
  position: absolute;
  right: -0.7rem;
  top: 0;
  font-size: 0.7rem;
  background: red;
  color: white;
  border-radius: 100px;
  padding: 0 0.3rem;
}

/* Spinner */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.my-spinner {
  display: inline-block;
  animation: rotation 1.5s infinite linear;
  aspect-ratio: 1/1;
  width: 1.4em;
  margin: 0 0.6em;
  background-size: cover;
}

.my-spinner {
  background-image: url(/img/spinner-dark-small.png);
}

.my-spinner.light {
  background-image: url(/img/spinner-light-small.png);
}

.my-spinner.large {
  background-image: url(/img/spinner-dark-large.png);
}

.my-spinner.large.light {
  background-image: url(/img/spinner-light-large.png);
}

.button-spinner {
  margin: 0;
}

/* Pulse animation */

@keyframes pulse {
  0% {
    outline-width: .1rem;
    outline-color: var(--pulse-color);
  }

  100% {
    outline-width: var(--pulse-end-width);
    outline-color: transparent;
  }
}

.pulse {
  --pulse-end-width: .6rem;
  --pulse-color: #0d255f69;
  outline-style: solid;
  animation: pulse 1s infinite;
}

.pulse-navigation {
  outline-offset: -.3rem;
}

.pulse-bright {
  --pulse-color: hsla(289, 25%, 80%, 0.624);
}

.pulse-strong {
  --pulse-color: #0d265fde;
  --pulse-end-width: .8rem;
}

.pulse-stronger {
  --pulse-color: #021272;
  --pulse-end-width: 1.1rem;
}

/* Page layout */

.page-layout {
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.page-with-sidebar {
  flex: 1;
  display: flex;
  height: 100%;
}

.page-layout-content {
  flex: 1;
}

.fullscreen .page-layout-sidebar,
.fullscreen .page-layout-header {
  display: none;
}

/* md */
@media (min-width: 48em) {

  .page-layout-header {
    display: none;
  }
}

/* Header */

.my-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 0.4em 1.2em;
  height: 4rem;
  background-color: var(--nav-bg);
  color: var(--nav-fg);
}

.my-header a:hover {
  text-decoration: none;
}

.main-nav-toggle {
  background: transparent;
  border: none;
  color: var(--nav-fg);
  font-size: 1.3rem;
  padding: .3rem .8rem;
}

.server-side-rendered .main-nav-toggle {
  visibility: hidden;
}

.main-nav-toggle:hover {
  background-color: var(--nav-hover-bg);
}

.my-header .home-page-title {
  margin-left: -1rem;
}

.page-title {
  color: white;
  margin: 0;
  font-size: 2rem;
}

.my-header .page-title {
  font-size: clamp(1.5rem, 6vw, 2rem);
}

.my-header .sign-in-button {
  margin-left: auto;
}

.my-header .btn-signup {
  font-size: clamp(.9rem, 4vw, 1.3rem);
}

/* Navigation sidebar */

.my-nav {
  max-width: var(--nav-width-large);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: .5em 0em;
  background-color: var(--nav-bg);
  color: var(--nav-fg);
  overflow-x: hidden;
}

.my-nav a:hover {
  text-decoration: none;
}

.nav-margin-top {
  margin-top: 2em;
}

.nav-spacer {
  margin-top: auto;
}

.nav-button {
  display: block;
  color: var(--nav-fg);
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.nav-button:hover {
  background-color: var(--nav-hover-bg);
}

.nav-button.active {
  background-color: var(--nav-active-bg);
}

.nav-row {
  font-size: 1.2rem;
  padding: 0.375rem 0.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.nav-row-icon {
  width: 4rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-row-label {
  text-align: left;
}

@media (min-width: 48em) {

  /* md+ */
  .page-layout-sidebar,
  .page-layout-content {
    height: 100vh;
    overflow-y: auto;
  }
}

.nav-footer {
  font-size: 0.9rem;
  padding: 0.5rem;
}

.social-media-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  gap: 1em;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  row-gap: 0.2em;
}

.footer-link,
.social-media-link {
  color: var(--nav-footer-fg);
}

.footer-link.active {
  color: white;
}

/* small nav on md and lg only */
@media (min-width: 48em) and (max-width:74.9999em) {
  .my-nav {
    width: var(--nav-width-small);
  }

  .nav-row {
    flex-direction: column;
  }

  .page-title {
    font-size: 1rem;
  }

  .nav-row-label {
    display: none;
  }

  .my-nav .btn-signup {
    font-size: 1rem;
    padding: 0.3em;
  }

  .nav-footer {
    display: none;
  }

}

/* Sidebar overlay */
@media (max-width: 47.999em) {
  .page-layout-sidebar {
    position: absolute;
    inset: 0;
    /* background-color: #ff000050; */
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    filter: drop-shadow(3px 1px 2px rgba(0, 0, 0, 0.3));
    transition: visibility 0.1s, opacity 0.1s ease-in;
  }

  .page-layout-sidebar.show-overlay {
    visibility: visible;
    opacity: 1;
  }

  .my-nav {
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
  }

  .my-nav>div:nth-child(2) {
    margin-top: 0;
  }

  .my-nav .home-page-title {
    display: none;
  }
}

/* Server-side rendering */

.server-side-rendered .btn-signup {
  visibility: hidden;
}

/* PAGES */

/* Landing Page */

/* Load Screen */

.load-screen-wrapper {
  margin-top: -1rem;
  min-height: 80vh;
  display: grid;
  place-items: center;
}

.load-screen-card {
  background-color: var(--nav-bg);
  border: 1px solid var(--nav-fg);
  font-size: 3rem;
  color: white;
  text-align: center;
  width: min(95%, 70rem);
  font-size: max(1.5rem, 8vw);
  padding: 1em 0.5em;
}

.load-screen {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  gap: 0.7em;
}

.load-screen-icon {
  width: 2.5em;
}

.load-screen-text {
  flex-grow: 1;
}

.load-screen-spinner {
  margin: 0.2em;
  width: 1.5em;
}

@media (min-width: 40em) {
  .load-screen-card {
    font-size: min(5vw, 3rem);
  }

  .load-screen {
    flex-direction: row;
    max-width: 18em;
  }

}

/* News Page */

.news-content,
.discuss-post-content {
  position: relative;
}

.news-list .news-content:not(.expanded),
.discuss .discuss-post-content:not(.expanded) {
  max-height: 25em;
  overflow-y: hidden;
}

.news-list .news-content:not(.expanded) .news-article-fade-out,
.discuss .discuss-post-content:not(.expanded) .discuss-fade-out {
  content: '';
  position: absolute;
  inset: 19em 0 0;
  background: linear-gradient(to bottom, transparent, var(--card-bg) 60%);
}

.news-read-more-btn,
.discuss-read-more-btn {
  display: none;
}

.news-list .news-content:not(.expanded) .news-read-more-btn,
.discuss .discuss-post-content:not(.expanded) .discuss-read-more-btn {
  display: block;
  position: absolute;
  inset: 22em 0 0;
  background-color: var(--card-bg);
}

.server-side-rendered lite-youtube {
  background-color: #aaa !important;
  background-image: none !important;
}

.server-side-rendered lite-youtube::before {
  background-image: none !important;
}

.server-side-rendered lite-youtube .lty-playbtn {
  display: block;
}

/* Upload page */

.quality-overlay-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}

.quality-overlay-text {
  padding: 0 0.2em;
  background-color: var(--color-pandanet-trial);
  color: white;
  border-radius: 0.3em;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
}

.btn-pandanet-trial {
  background-color: var(--color-pandanet-trial);
  color: white;
}

.btn-pandanet-trial:hover {
  opacity: 0.8;
  color: white;
}

/* Game list */

.game-cell-spinner {
  font-size: 70px;
}

/* Board */

.board-background {
  background-image: url(/img/kaya14d.jpg);
  background-size: cover;
  min-width: 5rem;
}

.ai-disabled .board-point-spinner,
.logged-out .board-point-spinner {
  display: none;
}

/* Training overview page */

.problem-page-start-training-spinner {
  width: 2em;
  margin-left: 2em;
}

/* Play AI */

.play-ai-handicap-row {
  margin-top: -0.5rem;
  font-style: italic;
}

/* Ranked mode page */

.play-ai-current-rank {
  color: rgb(5, 80, 133);
  font-size: 2.5rem;
  font-weight: bold;
}

.play-ai-quota-remaining {
  font-size: 1.3rem;
}

.play-ai-quota-exceeded {
  color: hsl(14, 86%, 38%);
  font-size: 1.3rem;
  font-weight: bold;
}

.ranked-overview-players .font-large {
  font-size: 1.3rem !important;
}

.play-ai-result-dialog .markdown p,
.play-ai-monetization-warning .markdown p {
  margin-bottom: 0;
}

/* Pricing page */

.pricing-title {
  color: white;
}

.pricing-card-header {
  color: white;
  border-radius: 10px 10px 0 0;
}

.badge-most-popular {
  color: black;
}

.pricing-card-header-basic {
  background-color: hsl(220, 100%, 40%);
}

.pricing-card-header-standard {
  background-color: hsl(250, 100%, 60%);
}

.pricing-card-header-pro {
  background-color: hsl(45, 100%, 35%);
}

.pricing-card-body {
  background-color: white;
}

.pricing-card-footer {
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.pricing-plans {
  display: grid;
}

@media (min-width: 48em) {
  .pricing-plans {
    max-width: 75rem;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}

.pricing-benefit-list {
  list-style: none;
  padding-left: 0;
}

.pricing-benefit-list li:before {
  content: '✓';
  color: green;
  font-weight: bold;
  font-size: larger;
  margin-right: 0.4rem;
}

/* Admin pages */

.my-form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 60em;
}

.my-form-row>label {
  font-weight: 500;
  width: 30%;
  min-width: 20ch;
  margin-right: 1em;
}

.uid-input {
  width: 40ch;
}

.admin-date-str {
  width: 30ch;
}

.chart-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}