html {
  overflow-y: scroll;
}

a, .btn-link {
  color: #002f90;
  font-weight: bold;
  cursor: pointer;
}

.main-content {
  background-image: url("/img/background.png");
  margin-top: -24px;
  margin-bottom: -60px;
}

.main-content {
  background-image: url("/img/background.png");
  margin-top: -24px;
  margin-bottom: -60px;
}

#header .login-bar-wrapper {
  background-color: #bdd9ff;
  padding: 0.2em;
}

a:focus {
  outline: none;
}

#header .btn-link {
  color: black;
}

#header .nav-bar-wrapper {
  background-color: #397bd1;
  padding: 0em;
  font-size: 14px;
}

#header .logo {
  margin-left: 1em;
  width: 60px;
  height: 60px;
  background-image: url("/img/logo64.png");
}

#header .logo.active, #header .logo:hover {
  background-image: url("/img/logo64yellow.png");
}

#header nav {
  margin-top: -3px;
  padding-top: 10px;
}

#header .nav-item {
  margin-left: 3em;
}

#header svg {
  display: block;
}

#header .user-credits {
  margin-bottom: 0.35em;
}

#title a:hover {
  text-decoration: none;
}

.nav-link {
  color: #696767;
  font-weight: bold;
}

.nav-bar-wrapper .nav-link {
  color: #eee;
}

.nav-bar-wrapper .nav-link:hover,
.nav-bar-wrapper .nav-link.active {
  color: #bbb;
}

.nav-link:hover, .nav-link.active {
  color: black;
  cursor: pointer;
}

.content-wrapper {
  margin-top: 2em;
}

.credits-badge, .player-name {
  border: 1px solid #bbbbbb;
  background-color: white;
  color: black;
}

.user-credits .credits-badge:hover {
  background-color: lightgrey;
  cursor: cell;
}

#buy-credits-dialog {
  text-align: left;
}

.sgf-link, .sgf-link:hover {
  padding: 0;
  color: black;
}

.sgf-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#board {
    overflow: overlay;
}
.uploads>table>tbody>tr>td {
  vertical-align: middle;
}

.analysis-tag {
  display: inline-block;
  width: 5em;
}

.playouts-tag {
  display: inline-block;
  width: 8em;
}

label.moves-tag {
  display: inline-block;
  padding-left: 0;
}

input.moves-slider {
  margin-top: 4px;
  margin-left: 1em;
}

div.form-group {
  margin-bottom: 1.3em;
}

input.form-control-file {
  margin-right: 1em;
}

.variant-tree {
    padding-top: 1em;
    padding-left: 10em;
}

.variant-tree g.root {
    fill: red;
}

.variant-tree g.white {
    fill: white;
}

.variant-tree g.black {
    fill: black;
}

.variant-tree svg circle {
    cursor: pointer;
    stroke: black;
}

.variant-tree text {
    display: none;
}

.variant-tree path.link {
    fill: none;
    stroke: black;
}

.footer-wrapper {
  margin-top: 6em;
}

footer a, footer div {
  color: #7b7b7b;
}

footer a:hover {
  color: #5b5b7b;
}

header {
  margin-top: 2em;
}

header .logo {
  width: "64px";
  height: "64px";
}

header h1 {
  white-space: nowrap;
  margin-top: 0.2em;
}

header hr {
  margin-top: 0rem;
}

.pay-credits-amount {
  display: inline-block;
  width: 5em;
  margin-right: 0.5em;
}

.pay-credits-price {
  display: inline-block;
  width: 2em;
}

.flash-button{
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.8; }
  100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.8; }
  100% { opacity: 1.0; }
}

.footer-wrapper {
  margin-top: 6em;
}

footer a, footer div {
  color: #7b7b7b;
}

footer a:hover {
  color: #5b5b7b;
}

header {
  margin-top: 2em;
}

header .logo {
  width: "64px";
  height: "64px";
}

header h1 {
  white-space: nowrap;
  margin-top: 0.2em;
}

header hr {
  margin-top: 0rem;
}

.modal {
  z-index: 2000000001;
}

.modal .spinner, .modal .spinner div  {
  z-index: 2000000002;
}

.disabled {
    cursor: not-allowed !important;
}

.pay-credits-amount {
  display: inline-block;
  width: 5em;
  margin-right: 0.5em;
}

.pay-credits-price {
  display: inline-block;
  width: 2em;
}

.table-hover tr {
  cursor: pointer;
}

.table-hover tr.game-row-disabled {
  cursor: wait;
}

.move-navigation {
  min-height: 7em;
}

.navigate-first-move, .navigate-last-move {
  font-size: 16px;
}

.navigate-previous-mistake, .navigate-next-mistake {
  font-size: 14px;
}

.navigate-previous-move, .navigate-next-move {
  font-size: 22px;
}

.navigate-replay-var {
  margin-top: 8px;
  margin-bottom: 4px;
}

.navigate-leela-var, .navigate-replay-var, .navigate-back-to-game {
  font-size: 14px;
}

.node-info {
  min-height: 6em;
}

.worst-moves {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.worst-moves .mistake-info-row {
    padding-top: 5px;
    margin-bottom: 5px;
}

.worst-moves .mistake-info-row:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.075);
}

.worst-moves .mistake-info-row.active {
  background-color: rgba(0, 0, 0, 0.125);
}


.analysis-progress, .winrate-progress {
  height: 6px;
}

.bg-show-variations {
  background-color: #bdd9ff;
}

.select-variation {
    cursor: pointer;
}

.flash-button{
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.8; }
  100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.8; }
  100% { opacity: 1.0; }
}
