@font-face {
  font-family: 'd-din';
  src:  url('fonts/D-DIN.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'd-din';
  src:  url('fonts/D-DIN-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

body {
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#fb-share-button {
  background: #3b5998;
  border-radius: 3px;
  font-weight: 600;
  padding: 3px 4px;
  display: inline-block;
  position: static;
}

#fb-share-button:hover {
  cursor: pointer;
  background: #213A6F;
}

#fb-share-button.disabled {
  cursor: disabled;
  background: #626b78;
}

#fb-share-button svg {
  width: 18px;
  fill: white;
  vertical-align: middle;
  border-radius: 2px
}

#fb-share-button span {
  vertical-align: middle;
  color: white;
  font-size: 14px;
  padding: 0 3px
}

#app {
  min-height: 100%;
  position: relative;
}

#header {
    padding: 0;
    font-family: d-din;
}

#header .nav-button {
    font-size: 1.2em;
}

#header .user-name {
    font-size: 1.1em;
}

#content {
  padding-top: 15px;
  padding-bottom: 7em;   /* padding + height of the footer */
}

#game {
  margin-top: -15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;   /* Height of the footer */
  background-color: rgba(0, 12, 48, 0.7) ;
  padding: 1em;
}

.footer-mobile {
  height: 5em;   /* Height of the footer */
}

html {
  overflow-y: scroll;
}

body, #game.fullscreen {
  margin-top: 0;
  background: url("/img/background.png") no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:focus {
  outline: none;
}

.blue-box {
    background-color: rgba(29, 47, 100, 0.81)
}

.blue-box, .blue-box h1, .blue-box h2, .blue-box h3, .blue-box h4, .blue-box h5 {
    color: white !important;
}

.blue-box a {
    color: #4f88ff !important;
}

#header .login-bar-wrapper {
    background-color: #055b92;
}

#header,
#header .btn-link,
#header a.logo,
#content h1,
#content h2,
#content h3,
#content h4,
#game,
.footer .btn-link,
.games-page
{
  color: white;
}

.page-link, .page-item.disabled .page-link {
  background-color: #477ea7;
  border: none;
}

#game .btn-link {
  text-decoration: none;
}

.blue-box .landing-feature-title {
    color: #ffc300 !important;
}

.btn-xl {
  font-size: 1.75rem;
  line-height: 2;
  padding: 1rem 2rem;
}

.btn-signup {
  color: #06050b;
  background-color: rgb(234, 175, 69);
  text-transform: uppercase;
}

.btn-link.disabled {
  cursor: not-allowed !important;
  color: gray !important;
}

.modal {
  text-transform: none;
}

.modal,
.card,
#content .card h1,
#content .card h2,
#content .card h3,
#content .card h4 {
  color: black;
}

.pointer {
    cursor: pointer;
}

a, .btn-link {
  font-weight: bold;
  cursor: pointer;
}

.modal a,
.card a,
.modal .btn-link,
#header .modal .btn-link,
.card .btn-link,
.link {
  color: #002f90;
}

#header .nav-bar-wrapper {
  background-color: #012d55;
  font-size: 16px;
}

#header .logo img {
  width: 60px;
  height: 60px;
}

#header a:hover {
  text-decoration: none;
}

#header .nav-button {
  color: #eee;
  font-weight: bold;
}

#header .nav-button:hover,
#header .nav-button.active {
  color: #bbb;
  cursor: pointer;
}

.login-bar .icon-log_in {
  color: #22abe4;
}

.login-bar .icon-log_out {
  color: #56a3d4;
}

.login-bar .icon-upload {
  color: #68b5e2;
}

.login-bar .icon-reviews{
  color: #f7b556;
}

.credits {
    color: #d6c939;
}

.price-credits {
    color: #f0e13e;
    text-shadow: 1px 1px 3px #000;
}

.buy-credits {
    color: #f0e13e;
    text-shadow: 1px 1px 1px #444;
}

#game-header {
  background-color: #000c30;
}

.download-review-button {
  color: #68b5e2;
}

.delete-review-button {
  color: #be1632;
}

.fullscreen-button {
  color: #22abe4;
}

.tags-icon {
  color: #967146;
}

#content .card, .bg-blue {
  background-color: rgba(142, 166, 219, 0.9);
}

#buy-credits-dialog {
  text-align: left;
}

.sgf-link, .sgf-link:hover {
  padding: 0;
  color: black;
}

.sgf-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#board-wrapper {
  overflow-y: auto;
}

.controls {
  height: 3em;
}

#board {
  overflow: overlay;
}
.uploads>table>tbody>tr>td {
  vertical-align: middle;
}

.analysis-tag {
  display: inline-block;
  width: 4em;
}

.playouts-tag {
  display: inline-block;
  width: 9em;
}

label.moves-tag {
  display: inline-block;
  padding-left: 0;
}

input.moves-slider {
  margin-top: 4px;
  margin-left: 1em;
}

div.form-group {
  margin-bottom: 1.3em;
}

input.form-control-file {
  margin-right: 1em;
}

.variant-tree {
    padding-top: 1em;
    padding-left: 10em;
}

.variant-tree g.root {
    fill: red;
}

.variant-tree g.white {
    fill: white;
}

.variant-tree g.black {
    fill: black;
}

.variant-tree svg circle {
    cursor: pointer;
    stroke: black;
}

.variant-tree text {
    display: none;
}

.variant-tree path.link {
    fill: none;
    stroke: black;
}


.footer a, .footer div {
  color: #ffffff;
}

.footer a:hover {
    color: #dddddd;
    text-decoration: none;
}

header {
  margin-top: 2em;
}

header .logo {
  width: "64px";
  height: "64px";
}

header h1 {
  white-space: nowrap;
  margin-top: 0.2em;
}

header hr {
  margin-top: 0rem;
}

header {
  margin-top: 2em;
}

header .logo {
  width: "64px";
  height: "64px";
}

header h1 {
  white-space: nowrap;
  margin-top: 0.2em;
}

header hr {
  margin-top: 0rem;
}

.modal {
  z-index: 2000000001;
}

.modal .spinner, .modal .spinner div  {
  z-index: 2000000002;
}

.disabled {
    cursor: not-allowed !important;
}

.payment-option {
    display: inline-block;
    height: 2em;
}

.pay-credits-amount {
  display: inline-block;
  width: 5.5em;
  height: 2em;
  margin-right: 0.5em;
}

.pay-credits-price {
  display: inline-block;
  width: 2em;
}

.table-hover tr {
  cursor: pointer;
}

.table-hover tr.game-row-disabled {
  cursor: wait;
}

.icon-page_back {
    font-size: 2.1em !important;
}

.icon-white_black, .icon-black_white {
    font-size: 3em !important;
}

.controls i {
  font-size: 2.8em !important;
}

.controls .icon-to_end_of_game, .controls .icon-rewind_to_start {
  font-size: 3.3em !important;
}

.navigate-previous-mistake, .navigate-next-mistake {
  color: #dc3545 !important;
}

.controls .disabled {
  color: #626b78 !important;
}


.worst-moves {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.worst-moves .mistake-info-row {
    padding-top: 5px;
    margin-bottom: 5px;
}

.worst-moves .mistake-info-row:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.075);
}

.worst-moves .mistake-info-row.active {
  background-color: rgba(0, 0, 0, 0.125);
}

.analysis-progress, .winrate-progress {
  height: 6px;
}

.mistake-threshold-slider, .mistake-threshold-slider:focus {
  background-color: inherit !important;
  border: none;
  box-shadow: none;
}

.option-flex {
    height: 34px;
}

[class^="icon-"], .user-icon, .fullscreen-button {
    font-size: xx-large;
}

.font-xx-small {
    font-size: 0px !important;
}

.font-large {
    font-size: large !important;
}

.font-larger {
    font-size: larger !important;
}

.font-x-large {
    font-size: x-large !important;
}

.font-xx-large {
    font-size: xx-large !important;
}

.credits-amount {
    font-size: 20px;
}

textarea#content {
    padding: 0;
    height: 20em;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;}

#content .dropdown-content .card {
  background-color: white !important;
  color: black;
}

.modal-wrapper {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1040
}

.modal-wrapper.hide-modal {
  display: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.hide-modal modal{
  opacity : 0;
  height : 0;
  transition : opacity 800ms, height 0 800ms;
}

.show-modal .backdrop {
  -webkit-animation: fade-in 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-in 0.2s; /* Firefox < 16 */
  -ms-animation: fade-in 0.2s; /* Internet Explorer */
  -o-animation: fade-in 0.2s; /* Opera < 12.1 */
  animation: fade-in 0.2s;
}

.hide-modal .backdrop {
  display: none;
  -webkit-animation: fade-out 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-out 0.2s; /* Firefox < 16 */
  -ms-animation: fade-out 0.2s; /* Internet Explorer */
  -o-animation: fade-out 0.2s; /* Opera < 12.1 */
  animation: fade-out 0.2s;

}

.modal.fade {
  -webkit-animation: fade-in-child 0.2s;
  -moz-animation: fade-in-child 0.2s;
  -ms-animation: fade-in-child 0.2s;
  -o-animation: fade-in-child 0.2s;
  animation: fade-in-child 0.2s;
}

@keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 0.6;}
}

@keyframes fade-out {
  from {opacity: 0.6;}
  to   {opacity: 0;}
}

@keyframes fade-in-child {
  from {opacity: 0;}
  to   {opacity: 1;}
}

.color-row {
  margin-bottom: -5px;
}

rect.graph {
  fill: #5976a8;
  stroke-width: 0;
}

rect.graph.black {
  fill: black;
}

rect.graph.white {
  fill: white;
}
