.sgf-link {
  padding: 0;
}

.uploads>table>tbody>tr>td {
  vertical-align: middle;
}

.analysis-tag {
  display: inline-block;
  width: 5em;
}

label.moves-tag {
  display: inline-block;
  padding-left: 0;
}

div.form-group {
  margin-bottom: 1.3em;
}

input.form-control-file {
  margin-right: 1em;
}

footer a, footer div {
  color: #7b7b7b;
}

footer a:hover {
  color: #5b5b7b;
}

footer {
  margin-top: 4em;
}
